@using Habit_App_Models;
@model Habit
<div class="card">
    <div class="row">
    <div class="col-12 text-center">
        <h2 class="text-white py-2">Create Habit</h2>
    </div>
    <div class="card-body">
            <form method="post" class="row">
                <div class="form-floating py-2 col-12">
                    <input asp-for=Name class="border-0 shadow form-control" />
                    <label asp-for=Name class=" ms-2"></label>

                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for=Measurement class="border-0 shadow form-control" />
                    <label asp-for=Measurement class=" ms-2"></label>

                    <span asp-validation-for="Measurement" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </form>
    </div>

</div>



@section scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}